## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

2022-11-17 13:03:49.734267: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","STATUS"], axis='columns')
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df[["NAME","APPLICATION_TYPE","AFFILIATION","CLASSIFICATION","USE_CASE","ORGANIZATION","INCOME_AMT",
    "SPECIAL_CONSIDERATIONS","ASK_AMT","IS_SUCCESSFUL"]].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df["INCOME_AMT"].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `income_types_to_replace`
income_types_to_replace = ['1M-5M','1-9999','10000-24999','10M-50M','5M-10M','50M+']

# Replace in dataframe
for app in income_types_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"Other")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             2790
Name: INCOME_AMT, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >100
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>100]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
application_df["CLASSIFICATION"].unique()

array(['C1000', 'C2000', 'C3000', 'C1200', 'C2700', 'C7000', 'C7200',
       'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C2100', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150'], dtype=object)

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C2700', 'C7000', 'C7200',
       'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,...,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
3,6692,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
4,142590,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays

X = dummies_df.drop(['IS_SUCCESSFUL'],axis=1)
y = dummies_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=50
hidden_nodes_layer2=20
hidden_nodes_layer3=10
hidden_nodes_layer4=5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                980700

 dense_1 (Dense)             (None, 20)                1020

 dense_2 (Dense)             (None, 10)                210

 dense_3 (Dense)             (None, 5)                 55

 dense_4 (Dense)             (None, 1)                 6

=================================================================
Total params: 981,991
Trainable params: 981,991
Non-trainable params: 0
_________________________________________________________________

2022-11-17 13:13:50.302220: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0908 - accuracy: 0.9627
Epoch 2/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0902 - accuracy: 0.9628
Epoch 3/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0888 - accuracy: 0.9635
Epoch 4/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0883 - accuracy: 0.9637
Epoch 5/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0877 - accuracy: 0.9633
Epoch 6/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0873 - accuracy: 0.9639
Epoch 7/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0870 - accuracy: 0.9638
Epoch 8/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0864 - accuracy: 0.9638
Epoch 9/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0860 - accuracy: 0.9648
Epoch 10/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0862 - accuracy: 0.9640
Epoch 11/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0853 - accuracy: 0.9647
Epoch 12/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0849 - accuracy: 0.9650
Epoch 13/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0846 - accuracy: 0.9654
Epoch 14/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0843 - accuracy: 0.9652
Epoch 15/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0840 - accuracy: 0.9659
Epoch 16/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0836 - accuracy: 0.9658
Epoch 17/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0834 - accuracy: 0.9659
Epoch 18/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0831 - accuracy: 0.9660
Epoch 19/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0828 - accuracy: 0.9660
Epoch 20/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0824 - accuracy: 0.9663
Epoch 21/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0821 - accuracy: 0.9667
Epoch 22/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0818 - accuracy: 0.9663
Epoch 23/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0818 - accuracy: 0.9664
Epoch 24/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0816 - accuracy: 0.9671
Epoch 25/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0813 - accuracy: 0.9671
Epoch 26/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0813 - accuracy: 0.9666
Epoch 27/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0807 - accuracy: 0.9668
Epoch 28/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0806 - accuracy: 0.9671
Epoch 29/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0806 - accuracy: 0.9672
Epoch 30/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0807 - accuracy: 0.9667
Epoch 31/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0801 - accuracy: 0.9668
Epoch 32/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0802 - accuracy: 0.9669
Epoch 33/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0797 - accuracy: 0.9675
Epoch 34/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0799 - accuracy: 0.9675
Epoch 35/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0796 - accuracy: 0.9675
Epoch 36/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0794 - accuracy: 0.9673
Epoch 37/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0792 - accuracy: 0.9677
Epoch 38/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0791 - accuracy: 0.9677
Epoch 39/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0789 - accuracy: 0.9675
Epoch 40/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0788 - accuracy: 0.9678
Epoch 41/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0790 - accuracy: 0.9677
Epoch 42/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0790 - accuracy: 0.9678
Epoch 43/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0786 - accuracy: 0.9679
Epoch 44/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0779 - accuracy: 0.9680
Epoch 45/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0785 - accuracy: 0.9679
Epoch 46/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0783 - accuracy: 0.9680
Epoch 47/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0783 - accuracy: 0.9677
Epoch 48/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0781 - accuracy: 0.9684
Epoch 49/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0778 - accuracy: 0.9681
Epoch 50/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0781 - accuracy: 0.9682
Epoch 51/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0780 - accuracy: 0.9680
Epoch 52/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0777 - accuracy: 0.9682
Epoch 53/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0779 - accuracy: 0.9683
Epoch 54/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0776 - accuracy: 0.9680
Epoch 55/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0776 - accuracy: 0.9684
Epoch 56/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0776 - accuracy: 0.9683
Epoch 57/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0773 - accuracy: 0.9680
Epoch 58/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0776 - accuracy: 0.9677
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0772 - accuracy: 0.9685
Epoch 60/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0776 - accuracy: 0.9680
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0775 - accuracy: 0.9680
Epoch 62/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0770 - accuracy: 0.9686
Epoch 63/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0773 - accuracy: 0.9682
Epoch 64/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0770 - accuracy: 0.9686
Epoch 65/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0770 - accuracy: 0.9683
Epoch 66/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0769 - accuracy: 0.9682
Epoch 67/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0771 - accuracy: 0.9684
Epoch 68/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0767 - accuracy: 0.9682
Epoch 69/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0770 - accuracy: 0.9686
Epoch 70/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0770 - accuracy: 0.9682
Epoch 71/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0766 - accuracy: 0.9686
Epoch 72/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0765 - accuracy: 0.9688
Epoch 73/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0766 - accuracy: 0.9683
Epoch 74/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0764 - accuracy: 0.9685
Epoch 75/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0768 - accuracy: 0.9687
Epoch 76/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0764 - accuracy: 0.9683
Epoch 77/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0762 - accuracy: 0.9685
Epoch 78/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0770 - accuracy: 0.9685
Epoch 79/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0768 - accuracy: 0.9682
Epoch 80/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0760 - accuracy: 0.9690
Epoch 81/100

804/804 [==============================] - 6s 7ms/step - loss: 0.0763 - accuracy: 0.9685
Epoch 82/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0764 - accuracy: 0.9687
Epoch 83/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0765 - accuracy: 0.9687
Epoch 84/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0765 - accuracy: 0.9685
Epoch 85/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0761 - accuracy: 0.9689
Epoch 86/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0787 - accuracy: 0.9677
Epoch 87/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0761 - accuracy: 0.9687
Epoch 88/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0760 - accuracy: 0.9686
Epoch 89/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0765 - accuracy: 0.9686
Epoch 90/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0761 - accuracy: 0.9684
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0763 - accuracy: 0.9684
Epoch 92/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0761 - accuracy: 0.9686
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0760 - accuracy: 0.9680
Epoch 94/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0764 - accuracy: 0.9686
Epoch 95/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0767 - accuracy: 0.9682
Epoch 96/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0763 - accuracy: 0.9684
Epoch 97/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0758 - accuracy: 0.9687
Epoch 98/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0761 - accuracy: 0.9680
Epoch 99/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0759 - accuracy: 0.9684
Epoch 100/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0759 - accuracy: 0.9687

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7283 - accuracy: 0.6931 - 1s/epoch - 4ms/step
Loss: 0.7283397912979126, Accuracy: 0.6930612325668335

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_1.h5")